{% extends 'UMS/base.html' %}
{% block base %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
			<form class="login100-form validate-form flex-sb flex-w" method="POST" action="{% url 'pwdchange'%}">
				{% csrf_token %}
				<span class="login100-form-title p-b-32">
					Change Password
				</span>

				<div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
					<span class="btn-show-pass">
						<i class="fa fa-eye"></i>
					</span>
					<input type="password" name="pwd1" class="input100" required placeholder="Enter New Password">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
					<span class="btn-show-pass">
						<i class="fa fa-eye"></i>
					</span>
					<input type="password" name="pwd2" class="input100" required placeholder="Renter New Password">
					<span class="focus-input100"></span>
				</div>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Change Password
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock base %}